<p>
  <strong>Name:</strong>
  <%= @chatroom.name %>
</p>

<div data-behavior='messages' data-chatroom-id="<%= @chatroom.id %>">
  <%= render @chatroom.messages %>
</div>

<%= form_for [@chatroom, Message.new], remote: true do |f| %>
  <%= f.text_area :body, row: 1, class: 'form-control' %>
<% end %>
